<app-header backButton="/auth" title="Recover Password"></app-header>
<ion-content class="vhControl">

	<div class="d-flex-center">
		<form [formGroup]="form"
			(ngSubmit)="submit()"
			(keypress.enter)="submit()"
			class="auth-form">
			<app-logo></app-logo>
			<!-- ! noficaciones -->

			<!-- ? correo -->
			<div *ngIf="form.controls.email.errors && form.controls.email.touched"
				class="validator">
				<div *ngIf="form.controls.email.errors?.['required']">
          Email is required
        </div>
				<div *ngIf="form.controls.email.errors?.['email']">
          Email is invalid
        </div>
			</div>

      <!--! texto -->
      <p class="ion-text-center">
        Enter your email address and we will send you a link to reset your password.

			<!-- ! campos -->
			<!-- ? correo -->
			<app-custom-input [control]="form.controls.email"
				icon="mail-outline"
				autocomplete="email"
				type="email"
				label="Email"></app-custom-input>

			<!-- ! bottones -->
			<!-- ? login -->
			<ion-button [disabled]="form.invalid"
				expand="block"
				mode="ios"
				class="submit"
				type="submit">
				Recover Password
				<ion-icon slot="start"
					name="arrow-forward"></ion-icon>
			</ion-button>
			
		</form>
	</div>

</ion-content>
